<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="metrics_collect_agent_operations" 
   			name="com.secpro.platform.monitoring.agent.operations" 
   			schema="schema/operations.exsd"/>
	<extension
         point="com.secpro.platform.monitoring.agent.metrics_collect_agent_operations">
   		<operation id="snmp" class="com.secpro.platform.monitoring.agent.operations.snmp.SNMPOperation" reSetID="true">
   		</operation>
   		<operation id="ssh" class="com.secpro.platform.monitoring.agent.operations.ssh.SSHOperation" reSetID="true">
   		</operation>
   		<operation id="telnet" class="com.secpro.platform.monitoring.agent.operations.telnet.TelnetOperation" reSetID="true">
   		</operation>
	</extension>
</plugin>
